<p id="notice"><%= notice %></p>

<h1>Materials</h1>

<div class="col-sm-8 blog-main">
  <table class="table table-bordered table-hover" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Tlink</th>
      <th>查看</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td><%= material.tlink %></td>
        <td><%= link_to 'Show', admin_material_path(material) %></td>
        <td><%= link_to 'Edit', edit_admin_material_path(material) %></td>
        <td><%= link_to 'Destroy', admin_material_path(material), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to 'New Material', new_admin_material_path %>
</div>
<br>


