<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Tlink:</strong>
  <%= @material.tlink %>
</p>

<%= link_to 'Edit', edit_admin_material_path(@material) %> |
<%= link_to 'Back', admin_materials_path %>
