<p id="notice"><%= notice %></p>

<h1>Classifies</h1>

<div class="col-sm-8 blog-main">
  <table class="table table-bordered table-hover" >
  <thead>
    <tr>
      <th>Name</th>
      <th>显示</th>
      <th>编辑</th>
      <th>删除</th>

    </tr>
  </thead>

  <tbody>
    <% @classifies.each do |classify| %>
      <tr>
        <td><%= classify.name %></td>
        <td><%= link_to 'Show', admin_classify_path(classify) %></td>
        <td><%= link_to 'Edit', edit_admin_classify_path(classify) %></td>
        <td><%= link_to 'Destroy',admin_classify_path(classify), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classify', new_admin_classify_path %>
</div>