<p id="notice"><%= notice %></p>

<p>
  <strong>Name£»string:</strong>
  <%= @user.name£»string %>
</p>

<p>
  <strong>Pass£ºstring:</strong>
  <%= @user.pass£ºstring %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
