

<div class="row">

  <div class="col-sm-8 blog-main">
        <table class="table table-bordered table-hover" >
          <tr>
            <th>标题</th>
            <th>作者</th>
            <th>发表时间</th>
            <th>查看</th>
            <th>编辑</th>
            <th>删除</th>
          </tr>
          <% @posts.each  do|post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.author %></td>
            <td><%= post.published_at %></td>

            <td><%= link_to 'Show', action: "show", id:post.id %></td>
            <td><%= link_to 'Edit', controller:"admin/posts",action: "edit",id:post.id ,'data-no-turbolink' => true%></td>
            <td> <%= link_to 'Delete',admin_posts_url ,:method => :delete,id: post.id,:confirm => "are you sure?"%></td>

          </tr>
          <% end %>
        </table>
 </div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About this Blog</h4>
      <p> this blog is the test of ruby on rails by <em>sduer liqingwen</em> .
        <br> please contact me with kingwensli@gmail.com</p>
    </div>

    <div class="sidebar-module">
      <h4>Archives</h4>
      <ol class="list-unstyled">
        <li><%= link_to '新建文章', controller: "posts",action: "new" ,'data-no-turbolink' => true %></li>
        <li><%= link_to '新建目录', controller: "admin/categories",action: "new" %></li>
        <li><%= link_to '友链查看', admin_links_path %></li>
        <li><%= link_to '目录查看', admin_categories_path  %></li>

<!--        <li><a href="#">March 2014</a></li>

        <li><a href="#">April 2013</a></li>-->
      </ol>
    </div>


    <div class="sidebar-module">
      <h4>链接</h4>
      <ol class="list-unstyled">
      <% Link.all.each do |link| %>
            <%= link_to link.name,link.address %>
            <br>
        <% end %>
      </ol>
    </div>


  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->


<nav>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</nav>



