

<div class="row">

  <div class="col-sm-8 blog-main">
        <table>
          <tr>
            <th>标题</th>
            <th>作者</th>
            <th>发表时间</th>
            <th>查看</th>
            <th>编辑</th>
            <th>删除</th>
          </tr>
          <% @posts.each  do|post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.author %></td>
            <td><%= post.published_at %></td>

            <td><%= link_to 'Show', action: "show", id:post.id %></td>
            <td><%= link_to 'Edit', controller:"admin/posts",action: "edit",id:post.id %></td>

            <!--没有参数id，从而导致后面param[:id]为空-->
            <!--<td><%= link_to 'Delete',admin_posts_path ,:method => :delete,:id=> post.id,:confirm => "are you sure?"%></td>-->

            <!--posts.4 确实进行了delete操作，但是.4不正常，应该是/4-->
            <td><%= link_to 'Delete1',admin_posts_url(post),:method => :delete,:remote => true,:confirm => "are you sure?"%></td>

            <!--admin/posts?id=4&method=delete 没有什么用-->
            <!--<td><%=  link_to '删除1', controller: "admin/posts", action: "destroy",id: post,:method => :delete%></td>-->
          </tr>
          <% end %>
        </table>
 </div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About this Blog</h4>
      <p> this blog is the test of ruby on rails by <em>sduer liqingwen</em> .
        <br> please contact me with kingwensli@gmail.com</p>
    </div>

    <div class="sidebar-module">
      <h4>Archives</h4>
      <ol class="list-unstyled">
        <li><%= link_to '新建文章', controller: "posts",action: "new" %></li>
        <li><%= link_to '新建目录', controller: "admin/categories",action: "new" %></li>
        <li><a href="#">March 2014</a></li>
        <li><a href="#">February 2014</a></li>
        <li><a href="#">January 2014</a></li>
        <li><a href="#">December 2013</a></li>
        <li><a href="#">November 2013</a></li>
        <li><a href="#">October 2013</a></li>
        <li><a href="#">September 2013</a></li>
        <li><a href="#">August 2013</a></li>
        <li><a href="#">July 2013</a></li>
        <li><a href="#">June 2013</a></li>
        <li><a href="#">May 2013</a></li>
        <li><a href="#">April 2013</a></li>
      </ol>
    </div>


    <div class="sidebar-module">
      <h4>链接</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/aweng126/">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->


<nav>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</nav>


<!--
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>-->
