<h1>kingwen's blog</h1>

<%= form_for :post,url: admin_posts_path do |f| %>

    <p>
      <%= f.label :title%><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :author%><br>
      <%= f.text_field :author %>
    </p>

    <!--选择分类界面-->
    <% Category.all.each do |category| %>
        <%= check_box_tag 'categories[]', category.id%>
        <%= label_tag category.name %>
    <% end %>


    <p>
      <%= f.label :content%><br>


      <%= f.kindeditor :content ,:window_onload => true  %>

 <!--     <%= kindeditor_tag :content %>-->


    </p>


    <p>
      <%= f.submit %>
    </p>

    <%= link_to 'Back', admin_posts_path %>

<%end%>