<div class="col-sm-8 blog-main">
  <table class="table table-bordered table-hover" >
    <tr>
      <th>编号</th>
      <th>目录名</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>

    <% @categories.each  do|category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>

          <td><%= link_to 'Edit', controller:"admin/categories",action:"edit",id:category.id ,'data-no-turbolink' => true%></td>

        <!--  <td><%= link_to 'Delete',admin_categories_path,:method => :delete,id:category.id,:confirm => "are you sure?"%></td>
-->
          <td><%= link_to 'Delete',controller:"admin/categories",action:"destroy",method: :delete,id:category.id%></td>

        </tr>
    <% end %>
  </table>

  <li><%= link_to '新建目录',new_admin_categories_path %></li>


</div>