

<div class="row">

  <div class="col-sm-8 blog-main">

    <% @posts.each  do|post| %>

        <div class="blog-post">
          <h2 class="blog-post-title">  <%= link_to post.title,controller: "posts",action: "show", id:post.id %>  </h2>
          <p class="blog-post-meta"><%= l post.published_at %> by <a href="#"><%= post.author%></a>
            <br>
          </p>

          <%= post.content %>
          <br>
        </div><!-- /.blog-post -->
    <% end %>

  </div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About this Blog</h4>
      <p> this blog is the test of ruby on rails by <em>sduer liqingwen</em> .
        <br> please contact me with kingwensli@gmail.com</p>
    </div>

    <div class="sidebar-module">
      <h4>更多资料</h4>
      <ol class="list-unstyled">
        <li><a href="http://www.linuxidc.com/Linux/2015-10/124373.htm">windows系统环境安装</a></li>
        <li><a href="http://rubyinstaller.org/">window-rubyinstaller</a></li>
        <li><a href="http://huacnlee.com/blog/how-to-start-learning-ruby-on-rails/">如何从零开始学会 Ruby on Rails?</a></li>
        <li><a href="http://cutesunshineriver.iteye.com/blog/809562">Rails入门</a></li>
        <li><a href="http://www.bagualu.net/wordpress/archives/6396">rails模型</a></li>
        <li><a href="https://rubygems.org/">rubygems</a></li>
        <li><a href="http://api.rubyonrails.org/">rails API</a></li>
        <li><a href="https://guides.ruby-china.org/">rails guides</a></li>
        <li><a href="https://www.jetbrains.com/help/ruby/2016.3/quick-start-guide.html">IDE - rubymine</a></li>
        <li><a href="https://rails-practice.com/content/">书籍 - rails实践</a></li>
        <li><a href="https://railstutorial-china.org/book/">书籍 - rails教程</a></li>
        <li><a href="https://ihower.tw/rails/environments-and-bundler.html">书籍 - Ruby on Rails 實戰聖經</a></li>


      </ol>
    </div>


    <div class="sidebar-module">
      <h4>链接</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/aweng126/">GitHub</a></li>
        <li><a href="http://weibo.com/p/1005055127489064/home">新浪微博</a></li>
        <li><a href="http://www.jianshu.com/u/4a05ba219654">简书</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->


<nav>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</nav>


