

<div class="row">

  <div class="col-sm-8 blog-main">

    <% @posts.each  do|post| %>

        <div class="blog-post">
          <h2 class="blog-post-title">  <%= link_to post.title,controller: "posts",action: "show", id:post.id %>  </h2>
          <p class="blog-post-meta"><%= l post.published_at %> by <a href="#"><%= post.author%></a>
            <br>
          </p>
          <%= post.content %>
          <br>
        </div><!-- /.blog-post -->
    <% end %>

  </div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About this Blog</h4>
      <p> this blog is the test of ruby on rails by <em>sduer liqingwen</em> .
        <br> please contact me with kingwensli@gmail.com</p>
    </div>

    <div class="sidebar-module">
      <h4>更多资料</h4>
      <ol class="list-unstyled">
        <% Material.all.each do |material| %>
          <%= link_to material.name,material.tlink %><br>
        <% end %>
      </ol>
    </div>

    <div class="sidebar-module">
      <h4>链接</h4>
      <ol class="list-unstyled">
        <% Link.all.each do |link| %>
            <%= link_to link.name,link.address %>
            <br>
        <% end %>
      </ol>
    </div>

  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->

<nav>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</nav>


